
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {  
    .mobile-nav {
      display: none;
    }
    
    .home-content {
      display: flex;
    }

    .desktop-only {
      display: inherit;
    }

    .mobile-only {
      display: none;
    }
    
    .lg-content-center {
      width: 80%;
      margin: auto;
    }

    ion-col.speaker-column {
      width: 290px !important;
    }


    .home-content-right {
      flex: 1;
      width: 40%;
      text-align: center;
    }

    .not-mobile {
      display: block;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      z-index: 9999999999;
      background: #fff;
      color: #154d75;
    }


    .no-events-img {
      width: 25%;
      margin: 5% 38%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }

    ion-title.logo2 {
      display: none;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .mobile-nav {
      display: none;
    }

    .current-month {
      left: 89% !important;
    }

    .lg-content-center {
      width: 85%;
      margin: auto;
      background: yellow;
    }

    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: inherit;
    }

    ion-col.speaker-column {
      width: 280px !important;
    }

    .not-mobile {
      display: block;
      width: 50%;
      margin: 5% 38%;
      text-align: center;
      margin: 0 auto;
      z-index: 9999999999;
      background: #fff;
      color: #154d75;
    }


    .no-events-img {
      width: 25%;
      margin: 8% 38%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }

    ion-title.logo2 {
      display: none;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 801px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .lg-content-center {
      width: 95%;
      margin: auto;
      background: green;
    }

    .mobile-only {
      display: inherit;
    }

    .desktop-only {
      display: none;
    }

    ion-col.speaker-column {
      width: 230px !important;
    }

    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: inherit;
    }

    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }
    
    .no-events-img {
      width: 35%;
      margin: 8% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }

    ion-title.logo2 {
      display: none;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 767px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .lg-content-center {
      width: 95%;
      margin: auto;
      background: blue;
    }

    ion-col.speaker-column {
      width: 275px !important;
    }

    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: inherit;
    }

    .mobile-nav {
      display: none;
    }

    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }
    
    .no-events-img {
      width: 35%;
      margin: 8% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }

    ion-title.logo2 {
      display: none;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .lg-content-center {
      width: 95%;
      margin: auto;
      background: orange;
    }

    ion-col.speaker-column {
      width: 220px !important;
    }

    .mobile-only {
      display: inherit;
    }

    .desktop-only {
      display: none;
    }

    .mobile-nav {
      display: none;
    }

    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }

    .no-events-img {
      width: 45%;
      margin: 6% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }

    ion-title.logo {
      display: none;
    }
    

    ion-title.logo2 {
      // display: inherit;
      font-weight: 900;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .lg-content-center {
      width: 95%;
      margin: auto;
      background: black;
    }

    ion-col.speaker-column {
      width: 350px !important;
    }

    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: inherit;
    }
    
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: inherit;
    }

    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }

    .no-events-img {
      width: 60%;
      margin: 20% 20%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
      h2 {
        font-size: 20px;
      }
    }

    ion-title.logo {
      display: none;
    }

    ion-title.logo2 {
      font-weight: 900;
      margin-left: 10px;
    }
    
  }