
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {  
    .home-content {
      display: flex;
    }

    .lg-content-center {
      width: 60%;
      text-align: center;
      margin: 0 0 0 20%;
    }

    .home-content-right {
      flex: 1;
      width: 40%;
      text-align: center;
    }

    .not-mobile {
      display: block;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      z-index: 9999999999;
      background: #fff;
      color: #154d75;
    }


    .no-events-img {
      width: 25%;
      margin: 5% 38%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .current-month {
      left: 89% !important;
    }

    .lg-content-center {
      width: 60%;
      text-align: center;
      margin: 0 0 0 20%;
    }

    .not-mobile {
      display: block;
      width: 50%;
      margin: 5% 38%;
      text-align: center;
      margin: 0 auto;
      z-index: 9999999999;
      background: #fff;
      color: #154d75;
    }


    .no-events-img {
      width: 25%;
      margin: 8% 38%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 801px to 1024px
  */
  
  @media (min-width: 801px) and (max-width: 1024px) {   
    .current-month {
      display: none;
    }
    .not-mobile {
      display: block;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      z-index: 9999999999;
      background: #fff;
      color: #154d75;
    }


    .no-events-img {
      width: 25%;
      margin: 8% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 767px to 1024px
  */
  
  @media (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }
    
    .no-events-img {
      width: 35%;
      margin: 8% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }

    .no-events-img {
      width: 45%;
      margin: 6% 30%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .current-month {
      display: none;
    }

    .not-mobile {
        display: none;
    }

    .no-events-img {
      width: 60%;
      margin: 20% 20%;
      text-align: center;
      img {
        filter: grayscale(20%);
        opacity: 0.7;
      }
      ion-button {
        opacity: 0.9;
      }
      h2 {
        font-size: 20px;
      }
    }
    
  }